<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Авторизация</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Авторизация</h1>
  <a href="/">Главная</a>

  <form action="/auth" method="post">
    <input type="text" name="username" placeholder="Имя">
    <input type="password" name="password" placeholder="Пароль">
    <button type="submit">Войти</button>
  </form>
  
  <script src="scripts.js"></script>
</body>
</html>