{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block main %}
<form action="/auth" method="post" id="auth-form">
  <h1>Авторизация</h1>
  <label for="username">Эл. почта / логин</label>
  <input type="text" name="username" placeholder="Введите почту" required>
  <label for="password">Пароль</label>
  <input type="password" name="password" placeholder="Введите пароль" required>
  <button type="submit" class="btn">Войти или зарегестрироваться</button>
</form>
{% endblock %}