{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block main %}
<form action="/recovery" method="post" class="auth-form">
  <h1>Восстановление пароля</h1>
  
  {% if error == "userNotFound" %}
    <label for="email" style="color: red;">
      Эл. почта не найдена
    </label>
    {% else %}
    <label for="email">Эл. почта</label>
  {% endif %}
  <input type="text" name="email" placeholder="Введите почту" value="{{ email }}" required />
</form>
{% endblock %}
