<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/auth.css">
</head>

<body>
    <header>
        <a href="/">
            <h1>
                Сделка
            </h1>
        </a>
    
        <!-- <nav id="main-nav">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/products">Вторая страница</a></li>
                <li><a href="/auth">Авторизация</a></li>
                <li><a href="/users">пользователи</a></li>
            </ul>
        </nav> -->

        <div id="search-bar-container">
            <input type="text" name="search-bar" id="search-bar" placeholder="Поиск..">
            <button type="submit" id="search-bar-button">Найти</button>
        </div>

        <div id="right-panel">
            <a class="header-btn" href="/login">Войти</a>

            <button id="settings-button">
                <!-- <img src="{{ url_for('static', filename=session.get('photo', '/static/images/profile-image-placeholder.png')) }}" 
                alt="Profile Image" width="40" height="40"> -->
                <img class="profile-image" src="/static/images/profile-image-placeholder.png" alt="123" width="40" height="40">
            </button>
        </div>
    </header>

    <main>
        <form action="/login" method="post" id="login-form" class="auth-form">
            <h1>Авторизация</h1>
            
            <label for="email">Эл. почта</label>
            <input type="text" name="email" placeholder="Введите почту" required>

            <label for="password">Пароль</label>
            <input type="password" name="password" placeholder="Введите пароль" required>

            <div class="button-container">
                <a href="/register" class="btn blue">Зарегестрироваться</a>
                <button type="submit" class="btn">Войти</button>
            </div>
        </form>
    </main>
    
    <footer>
        <p>© 2025 My Website</p>
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>